<div *ngIf="gameOn" class="d-flex flex-wrap min-h-100 w-100 align-items-start justify-content-around">
  <div *ngFor="let tile of tiles" class="p-2 m-4 border bg-white d-flex justify-content-center align-items-center" style="width: 150px; height: 150px; cursor: pointer"
       (click)="flip(tile)">
    <fa-icon class="h2" [icon]="tile.icon" *ngIf="tile.visible"></fa-icon>
  </div>
</div>
<div *ngIf="!gameOn" class="w-100 h-100 d-flex justify-content-center align-items-center">
  <form (ngSubmit)="startGame()" class="d-flex flex-column bg-white border rounded p-4 shadow-sm" #form="ngForm">
    <label for="pairs">Number of pairs:*</label>
    <input id="pairs" type="number" class="form-control mb-2" [(ngModel)]="numberOfPairs" name="pairs"
           placeholder="Insert number of pairs" aria-label="pairs" aria-describedby="pairs-label" required [appMin]="4" [appMax]="9" #numberEl="ngModel">
    <button [disabled]="form.invalid" class="btn btn-primary align-self-stretch">Start</button>
    <span *ngIf="numberEl.errors.min" id="minLength">
      Minimální číslo párů jsou 4
    </span>
    <span *ngIf="numberEl.errors.max" id="maxLength">
      Maximální číslo párů je 9
    </span>
  </form>
</div>
